---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% comment %} 
  1. 准备数据：按日期从新到旧排列
{% endcomment %}
{% assign all_pubs = site.publications | sort: 'date' | reverse %}

{% comment %} 
  2. 期刊部分：全局统计并倒序编号
{% endcomment %}
{% assign journals = all_pubs | where: "type", "journal" %}
{% if journals.size > 0 %}
  <h2 class="archive__subtitle">Journal articles</h2>
  <hr />
  <ol reversed start="{{ journals.size }}" style="margin-left: 2em;">
    {% for post in journals %}
      <li style="margin-bottom: 10px;">
        {{ post.citation }} 
        {% if post.paperurl %}<a href="{{ post.paperurl }}">[Link]</a>{% endif %}
      </li>
    {% endfor %}
  </ol>
{% endif %}

<br />

{% comment %} 
  3. 会议部分：重新独立统计并倒序编号
{% endcomment %}
{% assign conferences = all_pubs | where: "type", "conference" %}
{% if conferences.size > 0 %}
  <h2 class="archive__subtitle">Conference papers</h2>
  <hr />
  <ol reversed start="{{ conferences.size }}" style="margin-left: 2em;">
    {% for post in conferences %}
      <li style="margin-bottom: 10px;">
        {{ post.citation }} 
        {% if post.paperurl %}<a href="{{ post.paperurl }}">[Link]</a>{% endif %}
      </li>
    {% endfor %}
  </ol>
{% endif %}
