/* ===== Publications 正文两端对齐 ===== */

/* publication 列表页 */
.archive__item-excerpt,
.archive__item-body p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
}

/* publication 单篇页面 */
.layout--single .page__content p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
}

.homepage-hero {
  width: 100%;
  height: 180px;
  margin-bottom: 0rem;
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.18),
      rgba(255, 255, 255, 0.18)
    ),
    url("/images/1.png");
  background-size: cover;
  background-position: center;
}

.page__footer {
  display: none;
}
